/* 
 * 
 * Wijmo Aristo Theme
 * http://wijmo.com/
 * 
 * Copyright(c) ComponentOne, LLC.  All rights reserved.
 * 
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * licensing@wijmo.com
 * http://www.wijmo.com/license
 * 
 * Based on the Aristo theme concept created by 280 North and Pinvoke (https://github.com/280north/aristo).
 * 
*/

a
{
    outline: none;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden
{
    display: none;
}
.ui-helper-hidden-accessible
{
    position: absolute;
    left: -99999999px;
}
.ui-helper-reset
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-helper-clearfix
{
    display: inline-block;
}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix
{
    height: 1%;
}
.ui-helper-clearfix
{
    display: block;
}
/* end clearfix */
.ui-helper-zfix
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled
{
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon
{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial,sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=3px&bgColorHeader=c4c4c4&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=100&borderColorHeader=a8a8a8&fcHeader=4f4f4f&iconColorHeader=898989&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=100&borderColorContent=a8a8a8&fcContent=4f4f4f&iconColorContent=616161&bgColorDefault=c4c4c4&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=80&borderColorDefault=a8a8a8&fcDefault=4f4f4f&iconColorDefault=ffffff&bgColorHover=c4c4c4&bgTextureHover=04_highlight_hard.png&bgImgOpacityHover=80&borderColorHover=a8a8a8&fcHover=4f4f4f&iconColorHover=ffffff&bgColorActive=c4c4c4&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=4f4f4f&iconColorActive=ffffff&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=05_inset_soft.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=4f4f4f&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 */


/* Component containers
----------------------------------*/
.ui-widget
{
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget
{
    font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content
{
    border: 1px solid #a8a8a8;
    background: #ffffff;
    color: #4f4f4f;
}
.ui-widget-content a
{
    color: #4f4f4f;
}
.ui-widget-header
{
    border: 1px solid #a8a8a8;
    background: #c4c4c4 url("#{resource['primefaces-aristo:images/ui-bg_highlight-soft_100_c4c4c4_1x100.png']}") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
.ui-widget-header a
{
    color: #4f4f4f;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 1px solid #a8a8a8;
    background: #c4c4c4 url("#{resource['primefaces-aristo:images/ui-bg_highlight-hard_80_c4c4c4_1x100.png']}") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    font-weight: bold;
    color: #4f4f4f;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
.ui-state-default
{
    -moz-box-shadow: inset 0px 1px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
{
    color: #4f4f4f;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    border: 1px solid #7096ab;
    background: #85b2cb url("#{resource['primefaces-aristo:images/ui-bg_highlight-hard_80_85b2cb_1x100.png']}") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#00FFFFFF)"; */
    font-weight: bold;
    color: #313131;
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0px 0px 8px #85b2cb;
    box-shadow: 0px 0px 8px #85b2cb;
}
.ui-state-hover
{
    -moz-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
    box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
}
.ui-state-hover a, .ui-state-hover a:hover
{
    color: #2f556a;
    text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    border: 1px solid #7096ab;
    background: #85b2cb url("#{resource['primefaces-aristo:images/ui-bg_inset-hard_65_85b2cb_1x100.png']}") 50% 50% repeat-x;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.4)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#CCFFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#CCFFFFFF)"; */
    font-weight: bold;
    color: #1C4257;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
    color: #2f556a;
    text-decoration: none;
}
.ui-widget :active
{
    outline: none;
}
.ui-state-active
{
    -moz-box-shadow: inset 0px -1px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    border: 1px solid #666666;
    background: #aaaaaa;
    background: #aaaaaa linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0));
    background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.25)), to(rgba(0,0,0,0)));
    background: #aaaaaa -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000)"; */
    color: #ffffff;
    text-shadow: 1px 1px 1px #333333;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
{
    color: #363636;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
    border: 1px solid #cd0a0a;
    background: #fef1ec url("#{resource['primefaces-aristo:images/ui-bg_inset-soft_95_fef1ec_1x100.png']}") 50% bottom repeat-x;
    background: #fef1ec linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #fef1ec -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #fef1ec -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
    color: #cd0a0a;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
{
    color: #cd0a0a;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
{
    color: #cd0a0a;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
{
    font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
{
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
{
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon
{
    width: 16px;
    height: 16px;
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_616161_256x240.png']}");
}
.ui-widget-content .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_616161_256x240.png']}");
}
.ui-widget-header .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_898989_256x240.png']}");
}
.ui-state-default .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_38667f_256x240.png']}");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_38667f_256x240.png']}");
}
.ui-state-active .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_38667f_256x240.png']}");
}
.ui-state-highlight .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_2e83ff_256x240.png']}");
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
    background-image: url("#{resource['primefaces-aristo:images/ui-icons_cd0a0a_256x240.png']}");
}

/* positioning */
.ui-icon-carat-1-n
{
    background-position: 0 0;
}
.ui-icon-carat-1-ne
{
    background-position: -16px 0;
}
.ui-icon-carat-1-e
{
    background-position: -32px 0;
}
.ui-icon-carat-1-se
{
    background-position: -48px 0;
}
.ui-icon-carat-1-s
{
    background-position: -64px 0;
}
.ui-icon-carat-1-sw
{
    background-position: -80px 0;
}
.ui-icon-carat-1-w
{
    background-position: -96px 0;
}
.ui-icon-carat-1-nw
{
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s
{
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w
{
    background-position: -144px 0;
}
.ui-icon-triangle-1-n
{
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne
{
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e
{
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se
{
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s
{
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw
{
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w
{
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw
{
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s
{
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w
{
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n
{
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne
{
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e
{
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se
{
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s
{
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw
{
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w
{
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw
{
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s
{
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w
{
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n
{
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e
{
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s
{
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w
{
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n
{
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e
{
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se
{
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s
{
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w
{
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px;
}
.ui-icon-arrow-4
{
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag
{
    background-position: -16px -80px;
}
.ui-icon-extlink
{
    background-position: -32px -80px;
}
.ui-icon-newwin
{
    background-position: -48px -80px;
}
.ui-icon-refresh
{
    background-position: -64px -80px;
}
.ui-icon-shuffle
{
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w
{
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w
{
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed
{
    background-position: 0 -96px;
}
.ui-icon-folder-open
{
    background-position: -16px -96px;
}
.ui-icon-document
{
    background-position: -32px -96px;
}
.ui-icon-document-b
{
    background-position: -48px -96px;
}
.ui-icon-note
{
    background-position: -64px -96px;
}
.ui-icon-mail-closed
{
    background-position: -80px -96px;
}
.ui-icon-mail-open
{
    background-position: -96px -96px;
}
.ui-icon-suitcase
{
    background-position: -112px -96px;
}
.ui-icon-comment
{
    background-position: -128px -96px;
}
.ui-icon-person
{
    background-position: -144px -96px;
}
.ui-icon-print
{
    background-position: -160px -96px;
}
.ui-icon-trash
{
    background-position: -176px -96px;
}
.ui-icon-locked
{
    background-position: -192px -96px;
}
.ui-icon-unlocked
{
    background-position: -208px -96px;
}
.ui-icon-bookmark
{
    background-position: -224px -96px;
}
.ui-icon-tag
{
    background-position: -240px -96px;
}
.ui-icon-home
{
    background-position: 0 -112px;
}
.ui-icon-flag
{
    background-position: -16px -112px;
}
.ui-icon-calendar
{
    background-position: -32px -112px;
}
.ui-icon-cart
{
    background-position: -48px -112px;
}
.ui-icon-pencil
{
    background-position: -64px -112px;
}
.ui-icon-clock
{
    background-position: -80px -112px;
}
.ui-icon-disk
{
    background-position: -96px -112px;
}
.ui-icon-calculator
{
    background-position: -112px -112px;
}
.ui-icon-zoomin
{
    background-position: -128px -112px;
}
.ui-icon-zoomout
{
    background-position: -144px -112px;
}
.ui-icon-search
{
    background-position: -160px -112px;
}
.ui-icon-wrench
{
    background-position: -176px -112px;
}
.ui-icon-gear
{
    background-position: -192px -112px;
}
.ui-icon-heart
{
    background-position: -208px -112px;
}
.ui-icon-star
{
    background-position: -224px -112px;
}
.ui-icon-link
{
    background-position: -240px -112px;
}
.ui-icon-cancel
{
    background-position: 0 -128px;
}
.ui-icon-plus
{
    background-position: -16px -128px;
}
.ui-icon-plusthick
{
    background-position: -32px -128px;
}
.ui-icon-minus
{
    background-position: -48px -128px;
}
.ui-icon-minusthick
{
    background-position: -64px -128px;
}
.ui-icon-close
{
    background-position: -80px -128px;
}
.ui-icon-closethick
{
    background-position: -96px -128px;
}
.ui-icon-key
{
    background-position: -112px -128px;
}
.ui-icon-lightbulb
{
    background-position: -128px -128px;
}
.ui-icon-scissors
{
    background-position: -144px -128px;
}
.ui-icon-clipboard
{
    background-position: -160px -128px;
}
.ui-icon-copy
{
    background-position: -176px -128px;
}
.ui-icon-contact
{
    background-position: -192px -128px;
}
.ui-icon-image
{
    background-position: -208px -128px;
}
.ui-icon-video
{
    background-position: -224px -128px;
}
.ui-icon-script
{
    background-position: -240px -128px;
}
.ui-icon-alert
{
    background-position: 0 -144px;
}
.ui-icon-info
{
    background-position: -16px -144px;
}
.ui-icon-notice
{
    background-position: -32px -144px;
}
.ui-icon-help
{
    background-position: -48px -144px;
}
.ui-icon-check
{
    background-position: -64px -144px;
}
.ui-icon-bullet
{
    background-position: -80px -144px;
}
.ui-icon-radio-off
{
    background-position: -96px -144px;
}
.ui-icon-radio-on
{
    background-position: -112px -144px;
}
.ui-icon-pin-w
{
    background-position: -128px -144px;
}
.ui-icon-pin-s
{
    background-position: -144px -144px;
}
.ui-icon-play
{
    background-position: 0 -160px;
}
.ui-icon-pause
{
    background-position: -16px -160px;
}
.ui-icon-seek-next
{
    background-position: -32px -160px;
}
.ui-icon-seek-prev
{
    background-position: -48px -160px;
}
.ui-icon-seek-end
{
    background-position: -64px -160px;
}
.ui-icon-seek-start
{
    background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first
{
    background-position: -80px -160px;
}
.ui-icon-stop
{
    background-position: -96px -160px;
}
.ui-icon-eject
{
    background-position: -112px -160px;
}
.ui-icon-volume-off
{
    background-position: -128px -160px;
}
.ui-icon-volume-on
{
    background-position: -144px -160px;
}
.ui-icon-power
{
    background-position: 0 -176px;
}
.ui-icon-signal-diag
{
    background-position: -16px -176px;
}
.ui-icon-signal
{
    background-position: -32px -176px;
}
.ui-icon-battery-0
{
    background-position: -48px -176px;
}
.ui-icon-battery-1
{
    background-position: -64px -176px;
}
.ui-icon-battery-2
{
    background-position: -80px -176px;
}
.ui-icon-battery-3
{
    background-position: -96px -176px;
}
.ui-icon-circle-plus
{
    background-position: 0 -192px;
}
.ui-icon-circle-minus
{
    background-position: -16px -192px;
}
.ui-icon-circle-close
{
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e
{
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s
{
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w
{
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n
{
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e
{
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s
{
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w
{
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n
{
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin
{
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout
{
    background-position: -192px -192px;
}
.ui-icon-circle-check
{
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus
{
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus
{
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close
{
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus
{
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus
{
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close
{
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical
{
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se
{
    background-position: -80px -224px;
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl
{
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-corner-tr
{
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.ui-corner-bl
{
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-corner-br
{
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-top
{
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.ui-corner-bottom
{
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-right
{
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-corner-left
{
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-corner-all
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-round-all
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Overlays */
.ui-widget-overlay
{
    background: #2d5972 url("#{resource['primefaces-aristo:images/ui-bg_flat_0_2d5972_40x100.png']}") 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow
{
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #4f4f4f url("#{resource['primefaces-aristo:images/ui-bg_flat_0_4f4f4f_40x100.png']}") 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
/*
 * jQuery UI Resizable @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable
{
    position: relative;
}
.ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
{
    display: none;
}
.ui-resizable-n
{
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w
{
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se
{
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw
{
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw
{
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne
{
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
/*
 * jQuery UI Selectable @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper
{
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}
/*
 * jQuery UI Accordion @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion
{
    width: 100%;
}
.ui-accordion .ui-accordion-header
{
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
}
.ui-accordion .ui-accordion-li-fix
{
    display: inline;
}
.ui-accordion .ui-accordion-header-active
{
    border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a
{
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em .7em;
}
.ui-accordion-icons .ui-accordion-header a
{
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon
{
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-content
{
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1;
}
.ui-accordion .ui-accordion-content-active
{
    display: block;
}

.ui-accordion .ui-accordion-header
{
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}


.ui-accordion .ui-accordion-content
{
    margin-bottom: 0;
}

/*
 * jQuery UI Autocomplete @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete
{
    position: absolute;
    cursor: default;
}


.ui-autocomplete .ui-menu-item .ui-state-hover
{
    background: none repeat scroll 0 0 #5F83B9;
    color: #FFFFFF !important;
    font-weight: bold;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px transparent;
    cursor: pointer;
}


/* workarounds */
* html .ui-autocomplete
{
    width: 1px;
}
/* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu
{
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}
.ui-menu .ui-menu
{
    margin-top: -3px;
}
.ui-menu .ui-menu-item
{
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active
{
    font-weight: normal;
    margin: -1px;
}
/*
 * jQuery UI Button @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button
{
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
}
/* the overflow property removes extra width in IE */
.ui-button-icon-only
{
    width: 2.2em;
}
/* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only
{
    width: 2.4em;
}
/* button elements seem to need a little more width */
.ui-button-icons-only
{
    width: 3.4em;
}
button.ui-button-icons-only
{
    width: 3.7em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
    margin-left: 6px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text
{
    padding: 5px 12px 5px 25px;
}

/*button text element */
.ui-button .ui-button-text
{
    display: block;
    line-height: 1.4;
}
.ui-button-text-only .ui-button-text
{
    padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text
{
    padding: .4em;
    text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text
{
    padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text
{
    padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text
{
    padding-left: 2.1em;
    padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button
{
    padding: .4em 1em;
}

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon
{
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.ui-button-icon-only .ui-icon
{
    left: 50%;
    margin-left: -8px;
}
/*.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }*/
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
{
    right: .5em;
}
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
{
    right: .5em;
}

/*button sets*/
.ui-buttonset
{
    margin-right: 7px;
}
.ui-buttonset .ui-button
{
    margin-left: 0;
    margin-right: -.3em;
}

/* workarounds */
button.ui-button::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
/* reset extra padding in Firefox */
/*
 * jQuery UI Dialog @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog
{
    position: absolute;
    padding: .2em;
    width: 300px;
    overflow: hidden;
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.ui-dialog .ui-dialog-titlebar
{
    padding: .5em 1em .3em;
    position: relative;
}
.ui-dialog .ui-dialog-title
{
    float: left;
    margin: .1em 16px .2em 0;
}
.ui-dialog .ui-dialog-titlebar-close
{
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
    -moz-border-radius: 10px;
}
.ui-dialog .ui-dialog-titlebar-close span
{
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 0;
}
.ui-dialog .ui-dialog-content
{
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane
{
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button
{
    margin: .5em .4em .5em 0;
    cursor: pointer;
}
.ui-dialog .ui-resizable-se
{
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar
{
    cursor: move;
}

.ui-dialog
{
    padding: 0;
}

.ui-dialog .ui-dialog-titlebar
{
    border-top: none;
    border-right: none;
    border-left: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close
{
}

/*
 * jQuery UI Slider @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider
{
    position: relative;
    text-align: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    cursor: default;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-slider .ui-slider-range
{
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}


.ui-slider
{
    background: #cbcbcb;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
}

.ui-slider .ui-slider-range
{
    background: #a3cae0;
    -moz-box-shadow: inset 0 2px 2px #7d9aab;
    -webkit-box-shadow: inset 0 2px 2px #7d9aab;
    box-shadow: inset 0 2px 2px #7d9aab;
}

.ui-slider-vertical
{
    background: #cbcbcb;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
}

.ui-slider-vertical .ui-slider-range
{
    background: #a3cae0;
    -moz-box-shadow: inset 2px 0 2px #7d9aab;
    -webkit-box-shadow: inset 2px 0 2px #7d9aab;
    box-shadow: inset 2px 0 2px #7d9aab;
}


.ui-slider .ui-slider-handle span
{
    height: 16px !important;
    width: 16px !important;
    float: none !important;
    margin: 0 auto !important;
}


.ui-slider-horizontal
{
    height: .4em;
}
.ui-slider-horizontal .ui-slider-handle
{
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range
{
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max
{
    right: 0;
}

.ui-slider-vertical
{
    width: .4em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle
{
    left: -.5em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range
{
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min
{
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max
{
    top: 0;
}
.ui-slider .ui-slider-handle
{
    background: #85b2cb;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
}



/*
 * jQuery UI Tabs @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs
{
    position: relative;
    padding: .2em;
    zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav
{
    margin: 0;
    padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li
{
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border: 1px solid #a8a8a8;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a
{
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
    margin-bottom: 0;
    padding-bottom: 1px;
    border: 1px solid #a8a8a8;
    border-bottom: 0 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
{
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
{
    cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel
{
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}
.ui-tabs .ui-tabs-hide
{
    display: none !important;
}

.ui-tabs
{
    padding: 0;
}

.ui-tabs .ui-tabs-nav
{
    background: #e3e3e3;
    background: #e3e3e3 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #e3e3e3 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #e3e3e3 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}


.ui-tabs .ui-tabs-nav .ui-tabs-selected
{
    background: #fff;
    border-bottom: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



/*
 * jQuery UI Datepicker @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker
{
    width: 17em;
    padding: .2em .2em 0;
}
.ui-datepicker .ui-datepicker-header
{
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev
{
    left: 2px;
}
.ui-datepicker .ui-datepicker-next
{
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover
{
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover
{
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title
{
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select
{
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year
{
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{
    width: 49%;
}
.ui-datepicker table
{
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th
{
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td
{
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a
{
    display: block;
    padding: 2px 3px 3px;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane
{
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button
{
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: left;
}


.ui-datepicker table
{
    table-layout: fixed;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default
{
    background: none;
    border: none;
    color: #5F83B9;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover
{
    color: #1C4257;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-datepicker .ui-datepicker-current-day .ui-state-default
{
    background: #5F83B9;
    color: #FFFFFF !important;
    font-weight: bold;
    text-shadow: 0 1px 1px #234386;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-datepicker
{
    padding: 0;
}

.ui-datepicker .ui-datepicker-header
{
    background: #e3e3e3;
    background: #e3e3e3 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #e3e3e3 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #e3e3e3 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); /*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    border-right: none;
    border-left: none;
    border-top: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover
{
    background: none;
    border: solid 1px transparent;
    -moz-box-shadow: none;
}


/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi
{
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group
{
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table
{
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group
{
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group
{
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group
{
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane
{
    clear: left;
}
.ui-datepicker-row-break
{
    clear: both;
    width: 100%;
}

/* RTL support */
.ui-datepicker-rtl
{
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev
{
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next
{
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover
{
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover
{
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane
{
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button
{
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover
{
    display: none; /*sorry for IE5*/
    display: /**/ block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
/*
 * jQuery UI Progressbar @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar
{
    height: 1.1em;
    text-align: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
}
.ui-progressbar .ui-progressbar-value
{
    margin: -1px;
    height: 100%;
}
.ui-progressbar .ui-widget-header
{
    background: #85b2cb;
    background: #85b2cb linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #85b2cb -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*
 * jQuery UI AutoComplete @VERSION
 *
*/
.wijmo-wijinput, .wijmo-wijtextbox
{
    background: #fff;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
}
.wijmo-wijinput.ui-state-focus, .wijmo-wijtextbox.ui-state-focus
{
    background: #fff;
    -moz-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
    box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
}
.ui-autocomplete
{
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.wijmo-wijcalendar .ui-datepicker-header .ui-state-default
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wijmo-wijmenu
{
    background: #c4c4c4 url("#{resource['primefaces-aristo:images/ui-bg_highlight-hard_80_c4c4c4_1x100.png']}") top repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
}
.wijmo-wijmenu .ui-state-default
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wijmo-wijmenu .wijmo-wijmenu-child
{
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}
.wij-menu-ipod .wijmo-wijmenu-list
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

*html .wijmo-wijmenu .wijmo-wijsuperpanel, *html .wijmo-wijmenu .wijmo-wijmenu-list
{
    background: none;
}

*html .wijmo-wijmenu-horizontal .wijmo-wijmenu-child
{
    background: #ffffff;
}


*html .wijmo-wijmenu .wijmo-wijmenu-link
{
    border-color: #c4c4c4;
    filter: chroma(color=#c4c4c4);
}


.wijmo-wijtooltip
{
    background: #000;
    background: rgba(0,0,0,0.8);
    border: none;
    color: #fff;
    -moz-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #999;
    -webkit-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #999;
    box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #999;
}

.wijmo-wijtooltip-arrow-lb .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-lc .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-lt .wijmo-wijtooltip-pointer-inner
{
    border-right-color: #000 !important;
}

.wijmo-wijtooltip-arrow-rb .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-rc .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-rt .wijmo-wijtooltip-pointer-inner
{
    border-left-color: #000 !important;
}

.wijmo-wijtooltip-arrow-br .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-bc .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-bl .wijmo-wijtooltip-pointer-inner
{
    border-top-color: #000 !important;
}

.wijmo-wijtooltip-arrow-tb .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-tc .wijmo-wijtooltip-pointer-inner, .wijmo-wijtooltip-arrow-tt .wijmo-wijtooltip-pointer-inner
{
    border-bottom-color: #000 !important;
}


.wijmo-wijtooltip .wijmo-wijtooltip-pointer
{
    opacity: 0.8;
}

/* PrimeFaces Extensions */
.ui-inputfield {
    background: #fff !important;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f !important;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f !important;
    box-shadow: inset 0 2px 2px #8f8f8f !important;
}

.ui-inputfield.ui-state-focus {
    -moz-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f !important;
    -webkit-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f !important;
    box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f !important;
}

.ui-datatable.greyGridTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.ui-datatable.greyGridTable td, table.greyGridTable th {
    border: 0px solid #FFFFFF;
    padding: 3px 4px;
}
.ui-datatable.greyGridTable tbody td {
    font-size: 13px;
}
.ui-datatable.greyGridTable tr:nth-child(even) {
    background: #F1F1F1;
}
.ui-datatable.greyGridTable thead {
    background: #FFFFFF;
}
.ui-datatable.greyGridTable thead th {
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    text-align: center;
}
.ui-datatable.greyGridTable tfoot td {
    font-size: 14px;
}

