<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
        >

<f:view
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <!--        <link type="text/css" rel="stylesheet" href="/project/faces/javax.faces.resource/theme.css?ln=primefaces-start" />-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Questionnaire</title>
        <link rel="stylesheet" type="text/css" href="start.css"/>
        <h:outputStylesheet  rel="stylesheet" type="text/css" href="start.css"/>
    </h:head>
    <h:body style="background-color: gray">

        <p:panel style="background-color: white ;
             top: 250px;
            width: 400px;
            margin: 0 auto;
         "
        >

        <p:panelGrid columns="1"  styleClass="ui-fluid center ui-noborder" style="align-content: center">

                <h:form header="Fields" method="post" action="#{pageContext.request.contextPath}/addField">
                    <p:panel>
                    <p:outputLabel value="Label" />
                    <p:inputText required="true"  value="#{fieldAdder.label}" placeholder="#{fieldAdder.label}" />
                    </p:panel>
                    <p:panel>
                    <p:outputLabel value="Field Type:"  />
                    <p:selectOneMenu id="console" value="#{fieldAdder.type}" style="width:125px">
                        <f:selectItem itemLabel="Single Line Text" itemValue="TEXTFIELD" />
                        <f:selectItem itemLabel="Multi Line Text" itemValue="TEXTAREA" />
                        <f:selectItem itemLabel="Radio Button" itemValue="RADIOBUTTON" />
                        <f:selectItem itemLabel="Checkbox" itemValue="CHECKBOX" />
                        <f:selectItem itemLabel="Combobox" itemValue="COMBOBOX" />
                        <f:selectItem itemLabel="Date" itemValue="DATE" />
                        <f:ajax render="ajaxTarget" />
                    </p:selectOneMenu>
                    </p:panel>

                        <p:outputPanel id="ajaxTarget" >
                            <p:inputTextarea  id="frequency" onfocus="" placeholder="#{fieldAdder.fieldOptions}" value = "#{fieldAdder.fieldOptions}" rendered="#{fieldAdder.type.equals( 'RADIOBUTTON') or
                               fieldAdder.type.equals('CHECKBOX') or fieldAdder.type.equals('COMBOBOX') }">
                            </p:inputTextarea>
                        </p:outputPanel>

                        <p:panelGrid columns="2">
                    <h:selectManyCheckbox value="#{fieldAdder.checkboxOptions}">
                        <f:selectItem itemValue="active" itemLabel="Active?" />
                        <f:selectItem itemValue="required" itemLabel="Required?" />
                    </h:selectManyCheckbox>
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <a href ="/fields" style="text-decoration: none;">Cancel</a>
                    <p:commandButton value = "Submit" action="#{fieldAdder.addField()}" ajax="true" />
                    </p:panelGrid>


                </h:form>

            </p:panelGrid>
        </p:panel>

            </h:body>

</f:view>

</html>